{{! Stream sidebar rows }}

<li class="narrow-filter{{#if not_in_home_view}} out_of_home_view{{/if}}"
  data-stream-id="{{id}}" data-stream-name="{{name}}">
    <div class="subscription_block selectable_sidebar_block">

        <span id="stream_sidebar_privacy_swatch_{{id}}" class="stream-privacy" style="color: {{color}}">
            {{! This controls whether the swatchnext to streams in the left sidebar has a lock icon. }}
            {{ partial "stream_privacy" }}
        </span>

        <a href="{{uri}}" class="stream-name">{{name}}</a>


        <ul class="nav nav-list streams_popover" href="" data-stream-id="{{ id }}" data-name="{{ name }}">
        <li>
            <a class="toggle_home" href="">
              <!-- if the stream is unmuted, have it highlighted-->
                {{#if not_in_home_view}}
                    <i class="fa fa-eye-slash" aria-hidden="true"></i>
                    {{#tr this}}Unmute!{{/tr}}
                {{else}}
                <!--else have them at 50% opacity until unmuted with this statement-->
                    <i class="fa fa-eye" aria-hidden="true"></i>
                    {{#tr this}}Mute!{{/tr}}
                {{/if}}
            </a>
        </li>

        </ul>
        <div class="count"><div class="value"></div>
    </div>
    <span class="arrow stream-sidebar-arrow"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>

</li>
